<!-- MapServer Template -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" 
"http://www.w3.org/TR/html4/transitional.dtd">
<html>
  <head>
    <title>MapServer Template Sample</title>
  </head>
  <script type="text/javascript">
  
  //Script in SVILUPPO!!!
  
  function round_mm(value) {
  var mm = Math.round(value*10)/10; //Arrotonda ad 1 cifra decimale il valore di pioggia
  document.getElementById('pixel') = mm;
  }
  
  </script>

  </head>
  
      <b>Layer: rain</b>
    <p>
    <table cellpadding=5 cellspacing=2 border=0 width="100">
      <tr bgcolor=#CCCCCC>
        <!-- <td bgcolor=#ffffff>&nbsp;</td> -->
        
		<!-- <th>PIXEL</th>
      </tr> -->